body {
  background: #111111;
  font-family: 'Montserrat', sans-serif;
}

$cor-primaria: #2a2a2a;
$cor-secundaria: #d53a9d;

.conteudo {
  height: 100vh;
}

.ver-btn {
  color: #f5f5f5;
  background-image: linear-gradient(to left, #743ad5, #d53a9d);
  border: none;

  &:active {
    background-color: #DF532A;
  }
}

.texto-peso, .texto-altura {
  background-color: $cor-primaria;
  color: #dfdfdf;
  width: 80px;
  border: none;
}

.resultado {
  font-size: 3em;
  color: #f5f5f5;

  img {
    width: 130px;
    transition: 250ms all ease-out;
  }
}

.status {
  font-size: 2em;
  font-weight: 900;
  color: #f5f5f5;

  span {
    color: $cor-secundaria;
  }
}

.form-control {
  background-color: $cor-primaria;
  border: none;
  color: #dfdfdf;

  &::placeholder {
    color: #dfdfdf;
  }
}

.radio-toolbar {
  label {
    cursor: pointer;
    color: #eeeeee;
    display: flex;
    background-color: $cor-primaria;
    border: 2px solid transparent;

    img {
      width: 15px;
      height: 15px;
    }
  }

  input[type="radio"] {
    opacity: 0;
    width: 0;
    overflow: hidden;
    cursor: pointer;
    transition: all 200ms ease-in;

    &:focus {
      outline: none;
      border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
    }
  
    &:checked + label {
      color: #fff;
      border: solid 2px transparent;
      border-radius: 10px;
      background:
      linear-gradient( $cor-primaria, $cor-primaria) padding-box,
      linear-gradient(to left, #743ad5, #d53a9d) border-box;
    }
  }
}

@keyframes toggle {
  0% {display: none; opacity: 0;}
  10% {display: block;}
  100% {opacity: 1;}
}