.ver-btn {
  color: #fff;
  background-color: #ff5733;
}

.wrap {
  height: 100vh;
}

.resultado {
  /* width: 100px;
  height: 100px; */
  font-size: 5em;
  /* padding: 3em; */
}

.status {
  font-size: 2em;
  font-weight: 900;
}

.a {
  /* border: 1px solid red; */
}
